# ansible-playbook ansible_setup_alyx_server.yaml
---
- name: Install Git and clone repositories
  hosts: localhost
  become: yes
  vars:
    repo_dir: /home/ubuntu/Documents/PYTHON
    repos:
      - { name: 'iblsre', url: 'https://github.com/int-brain-lab/iblsre.git', app_repo_version: 'main' }

  tasks:
    - name: Ensure git is installed
      apt:
        name: git
        state: present
        update_cache: yes

    - name: Clone repositories that don't exist
      ansible.builtin.git:
        repo: "{{ item.url }}"
        dest: "{{ repo_dir }}/{{ item.name }}"
        version: "{{ item.app_repo_version }}"
        update: yes
      loop: "{{ repos }}"
      become_user: ubuntu

- name: Install Docker
  vars:
    repo_dir: /home/ubuntu/Documents/PYTHON
  import_playbook: "{{ repo_dir }}/iblsre/servers/ansible/docker-setup.yaml"

- name: Prepare Linux instance for Alyx
  become: yes
  hosts: localhost
  vars:
    repo_dir: /home/ubuntu/Documents/PYTHON
    log_dir: /var/log/apache2
    hostname: "{{ ansible_hostname }}"
    ip_address: "{{ ansible_default_ipv4.address }}"
    date_time: "{{ ansible_date_time.iso8601 }}"

  tasks:
    - name: Create spacer file
      command: dd if=/dev/zero of=/home/ubuntu/spacer.bin bs=1 count=0 seek=1G
      args:
        creates: /home/ubuntu/spacer.bin

    - name: Ensure log directory exists
      file:
        path: "{{ log_dir }}"
        state: directory
        owner: www-data
        group: www-data
        mode: '0755'

    - name: Add alias to .bashrc
      blockinfile:
        path: /home/ubuntu/.bashrc
        block: |
          # IBL Alias
          alias docker-bash='docker exec -it alyx_apache /bin/bash'
        marker: "# {mark} ANSIBLE MANAGED BLOCK - IBL ALIAS"

    - name: Create media and tables directories
      file:
        path: "{{ item }}"
        state: directory
        owner: "ubuntu"
        group: "ubuntu"
        mode: '0755'
      loop:
        - /home/ubuntu/uploaded
        - /home/ubuntu/tables
