docker {
    enabled = true
    remove = true
    runOptions = [
        '-u $(id -u):$(id -g)',                  // run as current user avoiding files owned by root
        '-v /mnt/s0:/mnt/s0',                    // data folder mount   
        '-v /home/$USER/.one:/home/ubuntu/.one', // one credentials/config mount
        // '-e MY_ENV_VAR=some_value',           // example on how to export an environment variable
    ].join(' ')
}

// needed?
plugins {
  id 'nf-schema@2.1.0'
}

// executor {
//     name = 'local'
//     cpus = 8
//     memory = '64 GB'
// }