docker {
    enabled = true
    remove = false
    runOptions = [
        '-u $(id -u):$(id -g)',                  // run as current user avoiding files owned by root
        '-v /mnt/s0:/mnt/s0',                    // data folder mount
        '-v /home/$USER/.one:/home/ubuntu/.one', // one credentials/config mount
    ].join(' ')
}
